body{
    background-color: #259ed9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
    background-color: white;
    height: 500px;
    width: 20rem;
    margin-top: 5rem;
    border-radius: 10px;
    text-align: center;
}

#search{
    margin-top: 2rem;
    background-color: #c3e4f3;
    height: 2rem;
    border: none;
    border-radius: 10px;
    text-align: center;
}

#image{
    height: 7rem;
    width: auto;
}

h3{
    font-size: 2.5rem;
    margin: 1rem;
}

h4{
    font-size: 1.5rem;
}

#name{
    font-size: 3rem;
    margin: 1rem;
    margin-top: 3rem;
    color: black;
}

.searchIcon{
    font-size: 1rem;
    margin-left: 1.5rem;
    margin-top: 1.8rem;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
}